<footer class="footer">
  <div class="info-container">
    <!-- Top content -->
    <div class="top-content">
      <span style="font-size: 16px">www.holambra.com.br</span>
      <div>
        <img
          class="icon-top-content"
          src="../../../assets/facebook.png"
          alt=""
          srcset=""
        />
        <img
          class="icon-top-content"
          src="../../../assets/instagram.png"
          alt=""
          srcset=""
        />
        <img
          class="icon-top-content"
          src="../../../assets/linkedin.png"
          alt=""
          srcset=""
        />
      </div>
    </div>
    <!-- Divider -->
    <mat-divider class="divider"></mat-divider>
    <!-- Botton Content -->
    <div class="bottom-content">
      <span style="letter-spacing: 0px"
        >© 2021 Cooperativa Agroindustrial Holambra
      </span>
      <span style="opacity: 0.5">Desenvolvido por Innova</span>
    </div>
  </div>
</footer>
