.card-container{
  width: 350px;
  color: var(--secondary-color);
  @media screen and (max-width:800px) {
    margin: 10px 0px 10px 0px;
  }
}

.card-title{
  text-align: center;
  font-size: 24px;
}

.card-text{
  text-align: center;
  color: #000000;
}
