.title-content{
  font-size: 48px;
  font-family: 'Gibson-Bold';
  text-align: center;
  color: var(--primary-color);
}

.container{
  padding: 64px 0px 64px 0px;
  width: 1100;
}

.input{
  width: 280px;
  margin: 16px;
  border: 1px solid #CBCBCB;
  padding: 16px;
  font-size: 18px;
  font-family: 'Gibson-Regular';
  letter-spacing: 0px;
  color: #CBCBCB;
  text-transform: capitalize;
}
