<header id="header">
  <div class="content-container" id="left-content">
    <div class="d-flex justify-content-sm-center d-flex justify-content-lg-end justify-content-xl-end">

      <img class="holambra-logo" src="../../../assets/logo_holambra_telescope.svg" alt="Holambra Logo" />
    </div>

    <div id="content-holder" class="d-flex align-items-center flex-column justify-content-center">

      <h1 class="content-container-title">DESAFIO DE INOVAÇÃO HOLAMBRA COOPERATIVA</h1>

      <span class="content-container-text">
        É hora de colocar seu projeto em prática e fazer a diferença no dia a dia dos produtores rurais.
      </span>

      <button class="content-container-button">INSCREVA-SE</button>
    </div>
  </div>

  <div class="content-container" id="rigth-content">
    <mat-icon *ngIf="!toggle" (click)="onToggle()" style="color: #ffffff;" class="icon">menu</mat-icon>
    <mat-icon *ngIf="toggle" (click)="onToggle()" style="color: #ffffff;" class="icon">close</mat-icon>
    <nav class="nav-bar" [ngClass]="{'menu-open': toggle}">
      <a href="" class="item-nav-bar">INSCREVA-SE</a>
      <a href=""  class="item-nav-bar">DESAFIOS</a>
      <a href=""  class="item-nav-bar">CRONOGRAMA</a>
      <a href=""  class="item-nav-bar">PREMIAÇÃO</a>
      <a href=""  class="item-nav-bar">REGULAMENTO</a>
    </nav>
    <div class="d-flex justify-content-center">
      <img class="holambra-visibilidade" src="../../../assets/logo_visibilidade.svg" alt="holambra" />
    </div>
  </div>
</header>
