.card-container{
  box-sizing: border-box;
  width: 255px;
  height: 162px;
  padding: 32px 32px 0px 32px;
  margin: 30px;
  border: var(--secondary-color) 2px solid;
}

.card-date-divider{
  height: 2px;
  width: 32px;
  margin-bottom: 8px;
  background-color: var(--secondary-color);
}

.card-date-text{
  font-family: 'Gibson-Regular';
  color: #ffffff;
  padding: 0px;
}
