<section style="background-color: var(--primary-color);">
  <div class="container">
    <h1 style="color: var(--secondary-color); font-size: 43px;" class="title-content">CRONOGRAMA</h1>
    <div id="holder-content" class="d-flex flex-wrap">
      <app-card-time-line date="19/4" text="Lançamento e palestra" ></app-card-time-line>
    <app-card-time-line date="De 19/4 a 19/5" text="Inscrições" ></app-card-time-line>
    <app-card-time-line date="7/6" text="Pitch Day e seleção das propostas para a segunda etapa" ></app-card-time-line>
    <app-card-time-line date="12/6" text="Divulgação das propostas selecionadas" ></app-card-time-line>
    <app-card-time-line date="A partir de 14/6" text="Mentorias e desenvolvimento das iniciativas" ></app-card-time-line>
    <app-card-time-line date="28/6" text="Visita técnica" ></app-card-time-line>
    <app-card-time-line date="30/8" text="Pitch Day final, divulgação do ranking e evento de premiação" ></app-card-time-line>
    </div>
  </div>
</section>
