<div class="container">
  <h1
    style="color: var(--primary-color); margin-bottom: 32px"
    class="title-content"
  >
    PREMIAÇÃO
  </h1>
  <div class="d-flex flex-wrap justify-content-center">
    <app-card-award
      pathUrl="../../../assets/1lugar.svg"
      title="1ºLUGAR "
      text="R$ 5.000,00 + troféu"
    ></app-card-award>
    <app-card-award
      pathUrl="../../../assets/2lugar.svg"
      title="2ºLUGAR "
      text="R$ 3.000,00 + troféu"
    ></app-card-award>
    <app-card-award
      pathUrl="../../../assets/3lugar.svg"
      title="3ºLUGAR "
      text="R$ 2.000,00 + troféu"
    ></app-card-award>
  </div>
  <div class="container-button-holder">
    <button class="button-award">CONFIRA O REGULAMENTO</button>
    <button class="button-award">FAÇA SUA INSCRIÇÃO</button>
  </div>
</div>

