.card-container{
  box-sizing: border-box;
  width: 540px;
  margin: 32px 30px 30px 30px;
  @media screen and (max-width:600px) {
     width: 320px;
  }
}

.card-header{
  display: flex;
}

.card-title{
  margin-left: 10px;
  margin-top: 20px;
  font-size: 24px;
  align-self: center;
}

.card-body{
  margin-top: 16px;
}

.card-content{
  display: flex;
  flex-direction: column;
}

.card-icon{
  width: 24px;
  height: 24px;
  display: flex;
  color: #42c0b6;
}
