.card-container{
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  width: 100%;

  @media screen and (max-width:1400px) {
    justify-content: center;

  }
}

.title-content{
  margin-bottom: 32px;
}

.subtext-content{
  font-size: 16px;
  padding: 0px 15px 0px 15px;
}

