<section class="container">
  <div class="d-flex flex-column justify-content-center">
    <h1 class="title-content">DESAFIOS PROPOSTOS</h1>
    <span class="subtext-content"
      >Os principais desafios temáticos identificados junto ao setor produtivo
      são apresentados abaixo. As soluções apresentadas pelos candidatos devem
      buscar solucionar essas dores, tendo como foco ao menos uma das culturas:
      <span style="color: var(--secondary-color);">soja, milho, feijão, algodão, trigo e citros.</span></span
    >
  </div>
</section>
